name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Config Comparison
      id: config-comparison
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Config Comparison
        setup-command: ''
        command: more
        input: base-config.txt
        expected-output: |-
          !
          hostname DSW1
          !
          interface GigabitEthernet0/0
            ip address 10.200.0.4 255.255.255.0
          !
          service password-encryption
          username sitadmin secret 9 $9$mbcsIHc2bApgyE$KeKm44lxudz6H9O6aZnARPcn0DTF7v/OBOJl1Ilitd2
          enable secret 9 $9$ocLVkE5ndcOx7k$LyAQFid2oAVO8l6grcrdvPM8YQFk1sF9YsqfZPWzaMI
          !
          line vty 0 4
           login local
           transport input ssh
          line vty 5 31
           login local
           transport input ssh
          !
        comparison-method: contains
        timeout: 10
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CONFIG-COMPARISON_RESULTS: "${{steps.config-comparison.outputs.result}}"
      with:
        runners: config-comparison
